@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&family=Roboto:wght@300&family=Yeon+Sung&display=swap");

body {
  font-family: "fira code", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #0d263b;
  --secondaryColor: #696969;
  --activeColor: #0061df;
}
